.profile{
  color: #413F42;
  font-weight: 500;
}
body {
  color: #533E85;
  Background-color: #F6F6F6;
  font-family: Arial;
  margin-left: 30px;
  line-height: 1.5;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-color: #5D8BF4;
  border-width: 4px;
}

img {
  height: 100px;
  width:100px;
}

h2 {
  color: #800080;
  font-size: 1.2em;}
  h2:hover{
  background-color: #DAEAF1;
}

h1 {
  color: #051367;
}
.qualification{
  width:100%;

}
.skills{
  margin-left:20px;
  width:40%;
}
